body {
    margin: 0;
    color: white;
    background-color: #090913;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
body > :first-child {
    margin-top: 3vh;
}
form {
    display: flex;
    flex-direction: column;
    background-color: #13131a;
    margin-bottom: 3vh;
    height: fit-content;
    padding: 0 3vh 1vh 3vh;
    border-radius: 6px;
    border: 1px solid #333;
    float: left;
}
.container {
    display: grid;
    grid-template-rows: 20px 30px 20px;
    background-color: #13131a;
    height: fit-content;
    padding: 3vh;
    border-radius: 6px;
    border: 1px solid #333;
    align-items: center;
}
.staticCell {
    grid-row: 1;
    padding: 0;
    margin: 2px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-items: center;
    opacity: 0.6;
}
.cell {
    grid-row: 3;
    padding: 0;
    margin: 2px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-items: center;
    opacity: 0.6;
}
.containerVertical {
    display: none;
}
/* DEACTIVATED CODE
@media (max-width: 600px) {
    .container {
        display: none;
    }
    .containerVertical{
        display: flex;
        background-color: #13131a;
        height: fit-content;
        padding: 1vh;
        border-radius: 6px;
        border: 1px solid #333;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
    p {
        margin: 4px;
    }
}*/
span {
    font-size: larger;
}
span b {
    opacity: 1;
}
.chaves1 {
    grid-row: 1;
    margin: 3px 3px 9px 3px;
    opacity: 0.6;
}
.chaves2 {
    grid-row: 3;
    margin: 3px 3px 9px 3px;
    opacity: 0.6;
}
#c1, #c2 {
    margin: 3px;
}
p {
    grid-row: 2;
    text-align: center;
}
form > :first-child {
    align-self: center;
    margin-bottom: 1vh;
}
form > :nth-child(2) {
    align-self: center;
}
input {
    width: 200px;
    padding: 10px;
    margin-bottom: 1vh;
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 6px;
    color: #ffffff;
    outline: none;
    transition: 0.3s;
}
input:focus {
    border-color: #bbbbbb;
    box-shadow: 0 0 5px #bbbbbb;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input:disabled {
    background-color: #333; /* Um tom mais escuro */
    border: 1px solid #444;
    cursor: unset;
    opacity: 0.6;
}
button {
    margin-top: 1vh;
    width: 222px;
    padding: 10px;
    background-color: #1e1e1e;
    border: 1px solid #333;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
button:hover {
    background-color: #292929;
}
.nota {
    position: absolute;
    background-color: #1e1e1e;
    border: 1px solid #333;
}
/************ Switch Deslizante ************/
.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 1vh;
}

.switch-container > :first-child {
    color: gold;
}
.switch-container > :last-child {
    color: #8A2BE2;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gold;
    transition: .4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #8A2BE2;
}

input:checked + .slider:before {
    transform: translateX(25px);
}
/*************** Notas ****************/
.note-point {
    left: 150px;
    position: relative;
    display: inline-block;
}
.note {
    position: absolute;
    background: #282a36;
    padding: 5px;
    border-left: 4px solid #007bff;
    transition: opacity 0.25s ease, visibility 0.5s ease;
    top: 100%;
    left: 50%;
    width: 300px;
}
.note p {
    text-align: justify;
    width: 90%;
    margin-left: 1vw;
}
#info {
    position: absolute;
    top: 0.5vh;
    left: 0.5vh;
    background-color: #090913;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: color 0.3s ease, border 0.3s ease;
}
#info:hover {
    background-color: #292929;
}
.activated {
    color: #007bff;
    border: 2px solid #007bff;
}
.deactivated {
    color: #282a36;
    border: 2px solid #282a36;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.nota {
    position: unset;
    width: 774px;
    margin-top: 1vh;
    background: #282a36;
    padding: 5px;
    border-left: 4px solid #007bff;
    transition: opacity 0.25s ease, visibility 0.5s ease;
}
.nota p {
    text-align: justify;
    width: 90%;
    margin-left: 1vw;
}
h3 {
    margin: 2vh 0 0 1vh;
}
#chave:disabled{
    grid-row: 1;
    padding: 0;
    max-width: 140px;
    height: 20px;
    align-items: center;
    justify-items: left;
    border: none;
    background-color: #13131a;
    font-size: inherit;
    opacity: 1;
}
form p {
    margin: 1vh 0 0 0;
}
